{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HTMX/Django</title>

    <!-- HTMX -->
    <script src="https://unpkg.com/htmx.org@1.6.0"></script>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'>

    <div class="m-16">
        {% block content %}
        {% endblock %}
    </div>
    
</body>
</html>